@charset "UTF-8";

/* estilo IMPREESSORAS */

*{
    padding: 10px;
    margin: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu{
    display: none;
}

article{
    width: 90%;
}

article::after{
    content: 'Esse artigo foi impresso através do site cursoemvideo.com';
}

