@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');


body{
    background-color: #0d979980;
}


:root{
    
    --cor1: #45FCFF;
    --cor2: #28E3E6;
    --cor3: #0D9799;
    --cor4: #E66F27;
    --cor5: #993A00;


    --fontdiferente: 'Bebas Neue', cursive, sans-serif;
    --fontpadrao: 'Cairo', arial, verdana, sans-serif;
}

nav a{
    border-radius: 5px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.292);
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

header{
    margin: -8px;
    background-color: #45fcff8d;
    height: 100px;
}

header h1{
    font-family: var(--fontdiferente);
    font-size: 1.7em;
    margin: 0px;
    padding: 25px 0px;
    text-align: center;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.447);
}

nav{
    background-color: #e67027;
    width: 500px;
    margin: auto;
    color: white;
    font-family: var(--fontpadrao);
    border-radius: 6px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.586);
    margin-bottom: 20px;
}

nav h2{
    font-weight: lighter;
    text-indent: 5px;
    color: black;
    background-color: var(--cor1);
    font-family: var(--fontdiferente);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.447);
}

nav p{
    margin: 5px;
    text-indent: 5px;
}

main{
    font-family: var(--fontpadrao);
    text-indent: 15px;
    padding: 10px;
    line-height: 25px;
    text-align: justify;
    background-color: white;
    margin: auto;
    max-width: 900px;
    min-width: 280px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.437);
    
}

main h2{
    background-image: linear-gradient(to right, #E66F27, transparent);
    padding: 5px;
}

img{
    width: 100%;
    max-width: 650px;
    height: 100%;
    margin: auto;
    display: block;
}

a{
    border-radius: 5px;
    color: black;
    text-decoration: none;
    background-color: #e6702771;
    padding: 2px;
}

a:hover{
    text-decoration: underline;
}

footer{
    font-family: var(--fontpadrao);
    background-color: #e67027c3;
    color: white;
    margin-top: 30px;
}

footer p{
    text-align: center;
    padding: 8px;
    font-size: 17px;
    margin: 0px;
}